@{
	ViewBag.Title = "Головна сторінка";
}
<div class="header">
    <div class="imgwithtext">
        <img height="400" src="~/images/home.jpg">
        <h2>Охорона система Safe<span class="orange">Try</span> - Безпека вашого дому</h2>
        <hr class="underheader">
    </div>
</div>
<div class="content">
    <h2 id="blackH2">Ми пропонуємо</h2>
    <div class="reasons">
        <div class="picwithtext">
            <img height="165" src="~/images/lock.jpg">
            <div class="textimage">
                <h3>Безпека</h3>
                <p>Наша компанія виготовляє найнадійніші системи безпеки в Україні. З ними ваш дім завжди буде "під наглядом".</p>
            </div>
        </div>
        <div class="picwithtext">
            <img height="165" src="~/images//clock.png">
            <div class="textimage">
                <h3>Надійність</h3>
                <p>Середній час "життя" обладнання - 10 років. Гарантія від виробника 5 років.</p>
            </div>
        </div>
    </div>
    <h2>Про нас</h2>
    <div class="about">
        <p>
            Наша компанія створена у 2020 році. Основною метою є захист вашого дома та приватної властності. 
            Серед преставлених продуктів є Системи захисту, Камери та Датчики руху. До кожного замовлення приїжджає кваліфікований спеціаліст.
        </p>
    </div>
    <hr class="underheader">
    <div class="bestProducts">
        <h2>Вибір професіоналів</h2>
        <div class="about">
            <p>
                Серед найкращих пропозицій для приватного будинку або квартири, наша компанія може порадити придбати пак, 
                який складається з 1 x Ajax MultiTransmitter Black, 2 x Камера TP-Link Tapo TC60, 1 x Датчик руху Crow Swan Squad.<br />
                Цей пак може запропонувати невелику ціну, гарну якість та гарантоване довголіття
            </p>
        </div>
        <h2>Пак "Стартовий"</h2>
        <div class="productsImages">
            <div class="image-block">
                <img src="~/images/product2.jpeg" width="200" />
                <span>1 x Ajax MultiTransmitter Black</span>
            </div>
            <div class="image-block">
                <img src="~/images/product6.jpg" width="200" />
                <span>2 х Камера TP-Link Tapo TC60</span>
            </div>
            <div class="image-block">
                <img src="~/images/product8.jpg" width="200" />
                <span>1 x Датчик руху Crow Swan Squad</span>
            </div>
        </div>
    </div>
</div>